<footer>
    <div class="footer-content">
        <p>&copy; 2023 StudyVault. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="#privacy-policy">Privacy Policy</a></li>
            <li><a href="#terms-of-service">Terms of Service</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </div>
    <div class="footer-social">
        <a href="https://facebook.com/studyvault" target="_blank">Facebook</a>
        <a href="https://twitter.com/studyvault" target="_blank">Twitter</a>
        <a href="https://instagram.com/studyvault" target="_blank">Instagram</a>
    </div>
</footer>